
<%= image_tag('logo.svg') %>

<p>
  Welcome to Kotobyte, a Japanese dictionary.
</p>

<form id='search_form' action='<%= search_words_path %>' autocomplete='off'>
  
  <input name='query' type='search' autocomplete='off' autofocus
      placeholder='<%= t('search_placeholder') %>' />
</form>
