
<section>
    <div><%= t('top_word_matches', count: @words.count) %></div>
    <%= render partial: 'word', collection: @words.first(1) %>
</section>

<% if @words.count > 1 %>
    <section>
        <div><%= t('other_word_matches', count: @words.count - 1) %></div>
        <%= render partial: 'word', collection: @words.drop(1) %>
    </section>
<% end %>
