---
---

@import 'normalize';
@import 'skeleton';
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

$tint-color: rgb(231, 64, 67);

body {
  border-top: medium solid $tint-color;
  color: rgb(64, 64, 64);

  font-family: 'PT Sans', sans-serif;
}

main, footer {
  max-width: 720px;
  padding: 16px;

  margin: 32px auto;
}

a, a:hover {
  color: $tint-color;
}

/* Tablet or larger display */
@media (min-width: 550px) {

  body {
    font-size: large;
  }
}
