/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'constants';
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

$content-width: 640px;
$header-height: 56px;

body {
  position: relative;

  font-family: 'PT Sans', sans-serif;
  font-size: medium;
  color: $font-color;

  background-color: white;
  padding-top: $header-height;
}

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  
  padding: 8px;
  height: $header-height;
  background-color: white;
  box-shadow: 0 1px 3px #aaa;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

main, footer {
  max-width: $content-width;
  margin: 0 auto;
  padding: 16px;
}

footer {
  color: $font-color-light;
  text-align: center;
}

header > a {
  display: block;
  margin: 4px;

  width: 32px;
  height: 32px;
}

header > .toolbar {
  flex-grow: 1;

  max-width: $content-width;
  margin: 0 8px;
}

#menu_link {
  background: image-url('notification.svg') no-repeat center;
  background-size: contain;
}

#home_link {
  background: image-url('favicon.svg') no-repeat center;
  background-size: contain;
}

.signin-container {
  margin: 16px;
  text-align: center;
}

.signin-link {
  display: flex;
  height: auto;
  width: 100%;
  
  align-items: center;
  background-color: #5c84f1;
  
  color: white;
  font-size: medium;
  text-transform: none;
  text-align: center;
  overflow: hidden;
  line-height: initial;

  margin-top: 8px;
  padding: 0;
  border: 0 none;
  border-radius: 4px;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .2);
}

.signin-link:hover {
  color: white;

  text-decoration: none;
}

.signin-link > img {
  width: 24px;
  height: 100%;

  background-color: white;
  padding: 8px;
}

.signin-link > div {
  flex-grow: 1;

  padding: 4px 16px;
}

a, a:hover {
  color: $tint-color;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input[type='search'] {
  background-color: #f8f8f8;
  border-color: #ddd;
}

input[type='search']:focus {
  border-color: #ddd;
  box-shadow: inset 0 0 3px #ddd;
}

h1 {
  font-size: 2.4em;
  margin-bottom: 16px;
}

ul {
  list-style: disc inside;
}

rt {
  color: $font-color-light;
  font-size: 0.7em;
}

.common {
  border-bottom: 2px solid #2ecc71;
}

.irregular {
  border-bottom: 2px dotted #e74c3c;
}

.outdated {
  border-bottom: 2px dotted #8e44ad;
}

#popup-menu {
  width: 320px;
}
