// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'constants';

body.home header {
  flex-direction: row-reverse;
  justify-content: space-between;
}

body.home header {
  background-color: transparent;
  border-top: medium solid $tint-color;
  box-shadow: none;
}

body.home main.index {
  margin-top: 2%;
  text-align: center;
}

body.home main.index img {
  margin: 16px auto;
  height: 160px;
}

body.home main.index p {
  margin-bottom: 16px;
}

body.home main.about > div {
  margin-top: 16px;
}

