
<a id='home_link' href='<%= root_path %>'></a>

<div class='toolbar'>
  <%= yield :toolbar %>
</div>

<a id='menu_link' href='javascript:' data-popup-id='popup-menu' data-popup-trigger='click'>
  <span class='badge'></span>
</a>

<%= menu_popup_tag %>

