
<div class='menu_container'>
  <ul>
    <li>
      <a href='javascript:'>
        Review Vocabularies
        <span class='badge'>12</span>
      </a>
    </li>
    <li>
      <a href='javascript:'>
        Manage Reminders
      </a>
    </li>
    <li>
      <%= link_to session_path, method: :delete do %>
        <%= current_session.user.email %>
        <span class='destructive'>Sign Out</span>
      <% end %>
    </li>
  </ul>
</div>
