
<div class='sign-in-container'>
  Sign in to create and save reminders.

  <%= link_to new_session_path, class: 'sign-in-link' do %>
    
    <%= image_tag('google.svg') %>
    <div>Sign In with Google</div>

  <% end %>
</div>
