
<div class='signin-container'>
  Sign in to create and save reminders.

  <a class='signin-link' href='javascript:Google.signIn()'>
    <%= image_tag('google.svg') %>
    <div>Sign In with Google</div>
  </a>
</div>
