
<div class='signin-container'>

  <a class='signin-link' href='javascript:'>
    <%= image_tag('google.svg') %>
    <div>Sign in with Google</div>
  </a>
  
  By signing in, you can save bookmarks and schedule reviews for vocabularies.
</div>
