
<% content_for :header do %>
  
  <form id='search_form' action='<%= search_path %>'> 
    
    <input name='query' type='search' autocomplete='off' autofocus
        value='<%= @query %>' placeholder='<%= t('search_placeholder') %>' />
  </form>

<% end %>

<%= render template: 'layouts/application' %>
